# * is used as a wildcard match
# / is used to ignore pathnames relative to the .gitignore file
# # is used to add comments to a .gitignore file

# ignore Keras models
*.keras

# ignore all folders starting with tpot
__pycache__/
NIfTY_feature_masks/
.vscode/
param_sweep_best_models*/